site_name: Using R and RStudio with High-Performance Computing
site_url: https://finnsdottir.github.io/hpc_r_2026
theme:
  name: material
  palette:
    primary: deep purple
  features:
  - navigation.sections
  - navigation.top
  - content.code.copy

markdown_extensions:
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.keys

nav:
  - Introduction: index.md
  - HPC Crashcourse: terminal.md
  - The Basics:
    - Using RStudio: rstudio.md
  

extra_css:
  - stylesheets/extra.css

